{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block css %}
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'todo/bootstrap/css/style.css'  %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'todo/bootstrap/css/bootstrap_col_15.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/todo.css' %}" />
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-glyphicons.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" />
    {% endblock %}
    {% block title %}
        <title></title>
    {% endblock %}
</head>
<body>
<div class="container-fluid">
    <div class="row justify-content-center">
    {% block content %}
    {% endblock %}
    </div>
</div>

    {% block js %}
<script type="text/javascript" src="{% static 'todo/bootstrap/js/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'todo/bootstrap/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'todo/js/ajaxrf.js' %}"></script>
    {% endblock %}
{% block javascript %}
{% endblock %}
</body>
</html>