{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Deleted info</title>
{% endblock %}
{% block content %}
        <div class="col-sm-12 col-md-6">
            <strong class="text-muted d-block mb-2"><h2>Deleted info</h2></strong>
            {% include 'menu_list.html' %}
            <div class="success d-flex">
                                <img src="{% static 'todo/images/success-img.png' %}" alt="success">
                                <h3>Task deleted successfully!</h3>
            </div>
        </div>
{% endblock %}
