{% extends 'base.html' %}
{% block title %}
    <title>Sign In</title>
{% endblock %}
{% load widget_tweaks %}}
{% block content %}
        <div class="col-sm-12 col-md-6">
            <strong class="text-muted d-block mb-2">Sign In</strong>
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_field_errors %} <div class="alert alert-danger" role="alert">{{ form.non_field_errors }}</div> {% endif %}
                            {% for field in form.visible_fields %}
                                <div class="form-group">
                                    {% if field.errors %} <div class="alert alert-danger" role="alert">{{ field.errors.as_text }}</div> {% endif %}
                                    <div class="f col-xs-8">
                                        {{ field|add_class:'form-control news-input font-nimbus-m log-field' }}
                                    </div>
                                    {{ field.placeholder }}
                                </div>
                            {% endfor %}
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-8">
                            <input class="btn btn-primary" type="submit" value="Войти" />
                        </div>
                    </div>
        </form>
         <div class="text-f col-xs-8">
                                    <a  href="{% url 'to_do:registration' %}">Sign Up</a><br/>
                                    <!--<a  href="">Забыли пароль?</a>-->
                                </div>
        </div>
{% endblock %}