{% extends 'base.html' %}
{% block title %}
    <title>Main page</title>
{% endblock %}
{% block content %}

        <div class="col-sm-12 col-md-6">
            <strong class="text-muted d-block mb-2">To Do App Main page</strong>
            {% if request.user.is_authenticated %}
                <a href="{% url 'to_do:logout' %}" class="btn btn-info" role="button"  style="margin-top:10px;">Sign out</a>
                <a href="{% url 'to_do:create' %}" class="btn btn-info" role="button"  style="margin-top:10px;">Create To do</a>
                <a href="{% url 'to_do:list' %}" class="btn btn-info" role="button" style="margin-top:10px;">Tasks list</a>
                <a href="{% url 'to_do:shared_tasks' %}" class="btn btn-info" role="button" style="margin-top:10px;">Shared Tasks</a>
            {% else %}
                <a href="{% url 'to_do:login' %}" class="btn btn-info" role="button" style="margin-top:10px;">Sign in</a>
            {% endif %}
                <a href="{% url 'to_do:registration' %}" class="btn btn-info" role="button" style="margin-top:10px;">Sign up</a>
        </div>

{% endblock %}
