<ul class="list-inline">
{% if 'list' in request.path %}
    <li class="list-inline-item"><a href="{% url 'to_do:main' %}">Main Page</a><br/></li>
    <li class="list-inline-item"><a href="{% url 'to_do:create' %}">Create To do</a><br/></li>
{% elif 'update' in request.path or 'delete' in request.path or 'deleted' in request.path %}
    <li class="list-inline-item"><a href="{% url 'to_do:main' %}">Main Page</a><br/></li>
    <li class="list-inline-item"><a href="{% url 'to_do:create' %}">Create To do</a><br/></li>
    <li class="list-inline-item"><a href="{% url 'to_do:list' %}">To do List</a><br/></li>
{% else %}
    <li class="list-inline-item"><a href="{% url 'to_do:main' %}">Main Page</a><br/></li>
    <li class="list-inline-item"><a href="{% url 'to_do:list' %}">To do list</a><br/></li>
{% endif %}
    <li class="list-inline-item"><a href="{% url 'to_do:shared_tasks' %}">Shared Tasks</a><br/></li>
     <li class="list-inline-item"><a href="{% url 'to_do:logout' %}">Sign Out</a></li>
</ul>