{% extends 'base.html' %}
{% load widget_tweaks %}
{% block title %}
    <title>Registration</title>
{% endblock %}
{% block content %}

        <div class="col-sm-12 col-md-6">
            <strong class="text-muted d-block mb-2">Registration</strong>
            <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.non_fields_errors %}<div class="alert alert-danger" role="danger">{{ form.non_fields_errors }}</div>{% endif %}
            {% for field in form.visible_fields %}
                {% if field.html_name == 'accept' %}
                    <div class="form-group">
                        {% if field.errors %}<div class="alert alert-danger" role="danger">{{ form.errors.as_text }}</div>{% endif %}
                        <label class="col-xs-4 control-label">{{ field.label }}</label>
                        <div class="f col-xs-8">
                            {{ field|add_class:'checkbox font-nimbus-m'}}
                        </div>
                    </div>
                {% else %}
                     <div class="form-group">
                        {% if field.errors %}<div class="alert alert-danger" role="danger">{{ form.errors.as_text }}</div>{% endif %}
                         <div class="f col-xs-8">
                             {{ field|add_class:'form-control font-nimbus-m' }}
                         </div>
                        {{ field.placeholder }}
                    </div>
                {% endif %}
            {% endfor %}
             <div class="form-group">
                            <div class="col-xs-offset-4 col-xs-8">
                                <input class="btn btn-primary" type="submit" value="Зарегестрироваться" />
                            </div>
                 <a href="{% url 'to_do:login' %}" class="btn btn-info" role="button" style="margin-top:10px;">Войти</a>
             </div>
        </form>

        </div>

{% endblock %}