{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Shared Tasks</title>
{% endblock %}
{% block content %}
        <div class="col-sm-12 col-md-6">
            <strong class="text-muted d-block mb-2"><h2>Shared Tasks</h2></strong>
            {% include 'menu_list.html' %}
        {% if tasks %}
            <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Task title</th>
        <th scope="col">Comment</th>
    </tr>
  </thead>
  <tbody>
    {% for task in tasks %}
    <tr>
      <td>{{ task.title }}</td>
        <td>
          <a href="{% url 'to_do:task' task.pk %}">
          <i class="fas fa-share"></i>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    {% else %}
            <h3>Empty Shared tasks list</h3>
            {% endif %}
        </div>
{% endblock %}