{% extends 'base.html' %}
{% load staticfiles %}
{% load todo_tags %}
{% block title %}
    <title>Search User</title>
{% endblock %}
{% block content %}
        <div class="col-sm-12 col-md-6">
            <strong class="text-muted d-block mb-2"><h2>Share Task</h2></strong>
            {% include 'menu_list.html' %}
            <form method="post"
                  enctype="multipart/form-data">
                {% csrf_token %}
                 <div class="form-group">
                                <div class="input-group date" style="width:500px;">
                                    <label class="to_do_label" for="user_name">Search</label>
                                    {% if errors %}
                                        <input placeholder="User name or email" type='text' name="user_name" class="form-control" id='user_name' style="width:200px; border: 2px solid #ff0000;" />
                                    {% else %}
                                        <input placeholder="User name or email" type='text' name="user_name" class="form-control" id='user_name' style="width:200px;" />
                                    {% endif %}
                                </div>
                 </div>
                <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-8">
                            <input class="btn btn-primary" type="submit" value="Search" />
                        </div>
                    </div>
            </form>
            {% if request.method == 'POST' and result %}
            {% if users %}
                <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">User name</th>
      <th scope="col">Share</th>
      <th scope="col">Read or Read & Comment</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr class="share_block">
      <td>{% if user.first_name %}{{ user.first_name }} {{ user.last_name }}{% else %}{{ user.email }}{% endif %}</td>

        <td>
            <a href="" class="share" data-user_id="{{ user.id }}">
           {% if user.pk|get_user_attend:todo.pk %}
            Remove form Share list
           {% else %}
             Add to Share list
           {% endif %}
        </a>

        </td>
        <td>
            <input type="checkbox" name="share_box">
        </td>

    </tr>
  {% endfor %}
  </tbody>
</table>
            {% else %}
                <h3 style="color:red;">Users not found</h3>
            {% endif %}
            {% endif %}
        </div>
{% endblock %}
{% block js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'todo/js/main.js' %}"></script>
{% endblock %}