{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>To do Detail</title>
{% endblock %}
{% load widget_tweaks %}}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/jquery.datetimepicker.css' %}" />
{% endblock %}
{% block content %}
        <div class="col-sm-12 col-md-6">
            <strong class="text-muted d-block mb-2"><h2>To do Detail</h2></strong>
            {% include 'menu_list.html' %}
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <p><strong>{{ task.title }}</strong></p>
                            <p style="width:700px;">{{ task.description }}</p>
                                {% if is_show %}
                            <div class="form-group">
                                <div class="input-group date" style="width:700px;">
                                    {% if errors %}
                                        <textarea placeholder="Your comment..." class="form-control" name="comment" rows="7" id="comment" style="border: 2px solid #ff0000;"></textarea>
                                    {% else %}
                                        <textarea placeholder="Your comment..." class="form-control" name="comment" rows="7" id="comment"></textarea>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-8">
                            <input class="btn btn-primary" type="submit" value="To comment" />
                        </div>
                    </div>
        </form>

            <div class='comment-list'>
                {% if comments %}
                {% for comment in comments %}
                <div class="media">
                    <p class="pull-right">
                        <small>{{ comment.created_at|date:'d-m-Y H:i' }}</small>
                    </p>
                    <div class="media-body">
                        <h4 class="media-heading user_name">{% if comment.comment_user.first_name %}{{ comment.comment_user.first_name }}{% else %}{{ comment.comment_user.email }}{% endif %}</h4>
                        <p style="width:700px;">{{ comment.comment_text }}</p>
                    </div>
                </div>
                {% endfor %}
                {% endif %}
            </div>
                {% endif %}
        </div>
{% endblock %}

