{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>To do list</title>
{% endblock %}
{% block content %}
        <div class="col-sm-12 col-md-6">
            <strong class="text-muted d-block mb-2"><h2>Create To do</h2></strong>
            {% include 'menu_list.html' %}
        {% if todo_list %}
            <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Task title</th>
      <th scope="col">Description</th>
      <th scope="col">End date</th>
        <th scope="col">Edit</th>
       <th scope="col">Share</th>
         <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    {% for todo in todo_list %}
    <tr>
      <td><a href="{% url 'to_do:task' todo.pk %}">{{ todo.title }}</a></td>
      <td>{{ todo.description|truncatechars:50 }}...</td>
      <td>{{ todo.end_date|date:'d-m-Y H:i' }}</td>
      <td>
          <a href="{% url 'to_do:update' todo.pk %}">
          <i class="fas fa-edit"></i>
        </a>
      </td>
        <td>
          <a href="{% url 'to_do:share' todo.pk %}">
          <i class="fas fa-share"></i>
        </a>
      </td>
          <td>
          <a href="{% url 'to_do:delete' todo.pk %}">
          <i class="fas fa-trash"></i>
        </a>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
    {% else %}
            <h3>Empty To do list</h3>
            {% endif %}
        </div>
{% endblock %}

