{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>To do Delete</title>
{% endblock %}
{% block content %}
        <div class="col-sm-12 col-md-6">
            <strong class="text-muted d-block mb-2"><h2>Update To do</h2></strong>
            {% include 'menu_list.html' %}
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <strong><p>Do yo want to delete <i style="color:red;">{{ todo.title }}</i>???</p></strong>
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-8">
                            <input class="btn btn-danger" type="submit" value="Delete" />
                            <a href="{% url 'to_do:list' %}" class="btn btn-info" role="button">Cancel</a>
                        </div>
                    </div>
        </form>
        </div>
{% endblock %}
