{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    <title>Create To do</title>
{% endblock %}
{% load widget_tweaks %}}
{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'todo/css/jquery.datetimepicker.css' %}" />
{% endblock %}
{% block content %}
        <div class="col-sm-12 col-md-6">
            <strong class="text-muted d-block mb-2"><h2>Create To do</h2></strong>
            {% include 'menu_list.html' %}
            {% if not messages %}
            <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
                <div class="container">
                    <div class="row">
                        <div class='col-sm-6'>
                            <div class="form-group">
                                <div class="input-group date" style="width:500px;">
                                    <label class="to_do_label" for="title">Title</label>
                                    {% if form.title.errors %}
                                        <input type='text' name="title" class="form-control" id='title' style="width:200px; border: 2px solid #ff0000;" />
                                    {% else %}
                                        <input type='text' name="title" value="{% if form.instance.title %}{{form.instance.title}}{% else %}{{form.data.title}}{% endif %}" class="form-control" id='title' style="width:200px;" />
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group date" style="width:700px;">
                                  <label class="to_do_label" for="description">Description</label>
                                    {% if form.description.errors %}
                                        <textarea class="form-control" name="description" rows="7" id="description" style="border: 2px solid #ff0000;"></textarea>
                                    {% else %}
                                        <textarea class="form-control" name="description" rows="7" id="description">{% if form.instance.description %}{{form.instance.description }}{% else %}{{ form.data.description }}{% endif %}</textarea>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group date" style="width:400px;">
                                    <label class="to_do_label" for="datetimepicker1">Start date</label>
                                    {% if form.start_date.errors %}
                                        <input type='text' name="start_date" class="form-control" id='datetimepicker1' style="width:200px; border: 2px solid #ff0000;" />
                                    {% else %}
                                        <input type='text' name="start_date" class="form-control" id='datetimepicker1' style="width:200px;" value="{% if form.instance.start_date %}{{ form.instance.start_date|date:'Y-m-d H:i:s' }}{% else %}{{ form.data.start_date |date:'Y-m-d H:i:s' }}{% endif %}" />
                                    {% endif %}
                                <label class="input-group-addon btn" for="datetimepicker1">
                                    <span class="fa fa-calendar"></span>
                                </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group date" style="width:400px;">
                                    <label class="to_do_label" for="datetimepicker2">End date</label>
                                    {% if form.end_date.errors %}
                                     <input type='text' name="end_date" class="form-control" id='datetimepicker2' style="width:200px; border: 2px solid #ff0000;" />
                                    <label class="input-group-addon btn" for="datetimepicker2">
                                    <span class="fa fa-calendar"></span>
                                    <p style="color: #ff0000;">{{ form.errors.as_text }}</p>
                                    {% else %}
                                    <input type='text' name="end_date" class="form-control" id='datetimepicker2' style="width:200px;" value="{% if form.instance.end_date %}{{ form.instance.end_date |date:'Y-m-d H:i:s' }}{% else %}{{ form.data.end_date|date:'Y-m-d H:i:s' }}{% endif %}"/>
                                    <label class="input-group-addon btn" for="datetimepicker2">
                                    <span class="fa fa-calendar"></span>
                                    {% endif %}
                                </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="form-group">
                        <div class="col-xs-offset-4 col-xs-8">
                            <input class="btn btn-primary" type="submit" value="Create" />
                        </div>
                    </div>
        </form>
                {% else %}
                    {% for message in messages %}
                            <div class="success d-flex">
                                <img src="{% static 'todo/images/success-img.png' %}" alt="success">
                                <h3>{{ message }}</h3>
                            </div>
                    {% endfor %}
                {% endif %}
        </div>
{% endblock %}
{% block js%}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'todo/js/jquery.datetimepicker.full.js' %}"></script>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        $('#datetimepicker1').datetimepicker({
            format: "Y-m-d H:i:s"
        });
        $('#datetimepicker2').datetimepicker({
            format: "Y-m-d H:i:s"
        });
    </script>
{% endblock %}


