.to_do_label {
color: black;
font-weight: bold;
display: block;
width: 150px;
float: left;
}

.comment-list .media {
    border-bottom: 1px dotted #ccc;
}

.pull-right{
    position: absolute;
    right: -10px;
}

small{
    font-size: 85%;
}


.user_name {
    font-size: 14px;
    font-weight: bold;
}

.media-heading {
    margin: 0 0 5px;
}